@font-face {
    font-family: MikhakThin; 
    src: url('https://fonts.kootahkon.ir/fonts/Mikhak/Mikhak-Thin.ttf'); 
}

@font-face {
    font-family: MikhakMedium; 
    src: url('https://fonts.kootahkon.ir/fonts/Mikhak/Mikhak-Medium.ttf'); 
}

@font-face {
    font-family: MikhakLight; 
    src: url('https://fonts.kootahkon.ir/fonts/Mikhak/Mikhak-Light.ttf'); 
}

@font-face {
    font-family: MikhakBold; 
    src: url('https://fonts.kootahkon.ir/fonts/Mikhak/Mikhak-Bold.ttf'); 
}

@font-face {
    font-family: MikhakBlack; 
    src: url('https://fonts.kootahkon.ir/fonts/Mikhak/Mikhak-Black.ttf'); 
}

@font-face {
    font-family: "Mikhak-VF"; 
    src: url('https://fonts.kootahkon.ir/fonts/Mikhak/Mikhak-VF.ttf');
}