@font-face {
    font-family: Mirza;
    src: url('https://fonts.kootahkon.ir/fonts/Mirza/Mirza-Regular.ttf');
}

@font-face {
    font-family: Mirza;
    src: url('https://fonts.kootahkon.ir/fonts/Mirza/Mirza-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Mirza;
    src: url('https://fonts.kootahkon.ir/fonts/Mirza/Mirza-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Mirza;
    src: url('https://fonts.kootahkon.ir/fonts/Mirza/Mirza-Bold.ttf');
    font-weight: bolder;
}