@font-face {
    font-family: Parastoo; 
    src: local('Parastoo'), url('https://fonts.kootahkon.ir/fonts/Parastoo/Parastoo.ttf'); 
    font-weight: normal; 
}

@font-face {
    font-family: Parastoo; 
    src: local('Parastoo'), url('https://fonts.kootahkon.ir/fonts/Parastoo/Parastoo-Bold.ttf'); 
    font-weight: bold; 
}