@font-face{
    font-family: Sahel;
    src: local('Sahel'), url('https://fonts.kootahkon.ir/fonts/Sahel/Sahel.ttf');
    font-weight: normal; 
}

@font-face{
    font-family: Sahel;
    src:  url('https://fonts.kootahkon.ir/fonts/Sahel/Sahel-VF.ttf'); 
}

@font-face{
    font-family: Sahel;
    src: local('Sahel Bold'), url('https://fonts.kootahkon.ir/fonts/Sahel/Sahel-Bold.ttf'); 
    font-weight: bold; 
}

@font-face{
    font-family: Sahel;
    src: local('Sahel Black'), url('https://fonts.kootahkon.ir/fonts/Sahel/Sahel-Black.ttf'); 
    font-weight: 900; 
}