@font-face{
    font-family: 'Samim';
    src: local('Samim'), url('https://fonts.kootahkon.ir/fonts/Samim/Samim.ttf'); 
    font-weight: normal; 
}

@font-face{
    font-family: 'Samim'; 
    src: local('Samim Medium'), url('https://fonts.kootahkon.ir/fonts/Samim/Samim-Medium.ttf'); 
    font-weight: 500; 
}

@font-face{
    font-family: 'Samim';
    src: local('Samim Bold'), url('https://fonts.kootahkon.ir/fonts/Samim/Samim-Bold.ttf'); 
    font-weight: bold; 
}