@font-face{
    font-family: 'Shabnam';
    src: local('Shabnam'), url('https://fonts.kootahkon.ir/fonts/Shabnam/Shabnam.ttf');
    font-weight: normal; 
}

@font-face{
    font-family: 'Shabnam';
    src: local('Shabnam Bold'), url('https://fonts.kootahkon.ir/fonts/Shabnam/Shabnam-Bold.ttf');
    font-weight: bold; 
}

@font-face{
    font-family: 'Shabnam';
    src: local('Shabnam Light'), url('https://fonts.kootahkon.ir/fonts/Shabnam/Shabnam-Light.ttf'); 
    font-weight: lighter; 
}