@font-face {
    font-family: 'Vazir';
    src: local('Vazir'), url('https://fonts.kootahkon.ir/fonts/Vazir/Vazir.ttf'); 
    font-weight: normal; 
}

@font-face {
    font-family: 'Vazir';
    src: local('Vazir Black'), url('https://fonts.kootahkon.ir/fonts/Vazir/Vazir-Black.ttf'); 
    font-weight: 900; 
}

@font-face {
    font-family: 'Vazir';
    src: local('Vazir Bold'), url('https://fonts.kootahkon.ir/fonts/Vazir/Vazir-Bold.ttf'); 
    font-weight: bold; 
}

@font-face {
    font-family: 'Vazir';
    src: local('Vazir Light'), url('https://fonts.kootahkon.ir/fonts/Vazir/Vazir-Light.ttf'); 
    font-weight: lighter; 
}

@font-face {
    font-family: 'Vazir';
    src: local('Vazir Medium'), url('https://fonts.kootahkon.ir/fonts/Vazir/Vazir-Medium.ttf'); 
    font-weight: 500; 
}

@font-face {
    font-family: 'Vazir';
    src: local('Vazir Thin'), url('https://fonts.kootahkon.ir/fonts/Vazir/Vazir-Thin.ttf'); 
    font-weight: 100; 
}