@font-face{
    font-family: 'Vazir Code';
    src: local('Vazir Code'), url('https://fonts.kootahkon.ir/fonts/Vazir-Code/Vazir-Code.ttf'); 
    font-weight: normal; 
}

@font-face{
    font-family: 'Vazir Code';
    src: url('https://fonts.kootahkon.ir/fonts/Vazir-Code/Vazir-Code-Extra-Height.ttf'); 
}

@font-face{
    font-family: 'Vazir Code Hack';
    src: local('Vazir Code Hack'), url('https://fonts.kootahkon.ir/fonts/Vazir-Code/Vazir-Code-Hack.ttf'); 
    font-weight: normal; 
}

@font-face{
    font-family: 'Vazir Code Hack';
    src: url('https://fonts.kootahkon.ir/fonts/Vazir-Code/Vazir-Code-Hack-Extra-Height.ttf');
}