@font-face {
    font-family: 'XB Kayhan'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKayhan/XB Kayhan.ttf');
}

@font-face {
    font-family: 'XB Kayhan'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKayhan/XB KayhanBd.ttf');
    font-weight: bold; 
}

@font-face {
    font-family: 'XB Kayhan'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKayhan/XB KayhanIt.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'XB Kayhan'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKayhan/XB KayhanBdIt.ttf');
    font-style: italic; 
    font-weight: bold; 
}