@font-face{
    font-family: 'XB Khoramshahr'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKhoramshahr/XB Khoramshahr.ttf');
}

@font-face{
    font-family: 'XB Khoramshahr'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKhoramshahr/XB KhoramshahrBd.ttf'); 
    font-weight: bold; 
}

@font-face{
    font-family: 'XB Khoramshahr'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKhoramshahr/XB KhoramshahrIt.ttf'); 
    font-style: italic;
}

@font-face{
    font-family: 'XB Khoramshahr'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBKhoramshahr/XB KhoramshahrBdIt.ttf'); 
    font-style: italic;
    font-weight: bold; 
}