@font-face {
    font-family: 'XB Niloofar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBNiloofar/XB Niloofar.ttf'); 
}

@font-face {
    font-family: 'XB Niloofar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBNiloofar/XB NiloofarBd.ttf'); 
    font-weight: bold; 
}

@font-face {
    font-family: 'XB Niloofar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBNiloofar/XB NiloofarIt.ttf'); 
    font-style: italic;
}

@font-face {
    font-family: 'XB Niloofar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBNiloofar/XB NiloofarBdIt.ttf'); 
    font-weight: bold; 
    font-style: italic; 
}