@font-face {
    font-family: 'XB Roya'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBRoya/XB Roya.ttf'); 
}

@font-face {
    font-family: 'XB Roya'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBRoya/XB RoyaBd.ttf'); 
    font-weight: bold; 
}

@font-face {
    font-family: 'XB Roya'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBRoya/XB RoyaIt.ttf'); 
    font-style: italic; 
}

@font-face {
    font-family: 'XB Roya'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBRoya/XB RoyaBd.ttf'); 
    font-weight: bold; 
    font-style: italic; 
}