@font-face {
    font-family: 'XB Titre'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBTitre/XB Titre.ttf'); 
}


@font-face {
    font-family: 'XB Titre'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBTitre/XB TitreIt.ttf'); 
    font-style: italic; 
}

