@font-face {
    font-family: 'XB Zar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBZar/XB Zar.ttf'); 
}

@font-face {
    font-family: 'XB Zar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBZar/XB ZarBd.ttf'); 
    font-weight: bold; 
}

@font-face {
    font-family: 'XB Zar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBZar/XB ZarIt.ttf'); 
    font-style: italic; 
}

@font-face {
    font-family: 'XB Zar'; 
    src: url('https://fonts.kootahkon.ir/fonts/XBZar/XB ZarBd.ttf'); 
    font-weight: bold; 
    font-style: italic; 
}